<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Joni Kanerva</string>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>Fontless</string>
	<key>CFBundleIdentifier</key>
	<string>com.jonikanerva.fontless</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Companion Bundle Identifier</key>
	<array/>
	<key>Content</key>
	<dict>
		<key>Content Blocker</key>
		<string>BlockRules.json</string>
	</dict>
	<key>Description</key>
	<string>Block all web fonts from websites.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/jonikanerva/fontless</string>
</dict>
</plist>
